/*
 * -- BASE STYLES --
 * Most of these are inherited from Base, but I want to change a few.
 */
body {
    color: #526066;
}

h2, h3 {
    letter-spacing: 0.25em;
    text-transform: uppercase;
    font-weight: 600;
}

p {
    line-height: 1.6em;
}


/*
 * -- Layout Styles --
 */
.l-content {
    margin: 0 auto;
}

.l-box {
    padding: 0.5em 2em;
}

/*
 * -- MENU STYLES --
 * Make the menu have a very faint box-shadow.
 */
.pure-menu {
    box-shadow: 0 1px 1px rgba(0,0,0, 0.10);
}

.nutella-issues { margin-top: 10px; }
.nutella-issue { margin-right: 10px; margin-bottom: 10px; margin-top: 10px; }
.nutella-open { border: 1px solid #e2001b; }

.issue-label{
    background-color: #e2001b;
    color: #ffffff;
    font-weight: bold;
    margin-bottom: 0px;
    padding: 3px;
}

.issue-label span{ font-weight: normal; }
.issue-content { background-color: #F5F9FA; padding: 13px; }
.issue-content small { color: #232121; }
.issue-title { font-weight: bold; font-size:32px; }
.right { text-align: right; }
